@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.access-bar-container {
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: right;
}

.access-bar-container li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#increase-size, #default-size  {
    margin-right: 25px;
}

#decrease-size {
    margin-right: 80px;
}

#nav-bar {
    width: 100%;
    background-color: #322E41;
    font-family: 'Poppins';
    text-align: center;
}

#nav-bar li {
    display: inline-flex;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 80px;
    color: #FFFFFF;
    cursor: pointer;
}

#nav-community {
    font-size: 30px;
}

#nav-home {
    font-size: 30px;
}

#nav-aboutus {
    font-size: 30px;
}

main {
    background-color: #1C1B1E;
    width: 100%;
}

#home-container {
    display: none;
    flex-wrap: wrap;
    min-height: 717px;
    max-height: 100%;
    justify-content: center;

}

.home-child {
    flex: 1;
}

.home-child:first-child {
    margin-left: 15%;
    align-self: center;
}


#home-title {
    width: 693px;;
    margin-bottom: 25px;
}

#home-description {
    width: 549px;
    margin-bottom: 25px;
}

.home-child:last-child {
    align-self: center;
}

#knight1 {
    width: 333px;
    height: 577px;
    margin-left: 15%;
}


#community-container {
    display: none;
    min-height: 717px;
    max-height: auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.community-child {
    flex: 1;
    align-self: center;
}

.community-child:first-child {
    margin-top: 2%;
    margin-left: 15%;
}

#community-title {
    width: 558px;
    margin-bottom: 25px;
}

#community-description {
    width: 549px;
    margin-bottom: 25px;
}

#knight2 {
    width: 571px;
    height: 671px;
    margin-left: 30%;
}

.aboutus-container {
    display: block;
    min-height: 1997px;
    max-height: auto;
}

.team-cherry-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.team-cherry-child {
    flex: 1;
    align-self: center;
}

.team-cherry-child:first-child {
    margin-top: 5%;
}

.team-cherry-child:last-child {
    margin-top: 150px;
    margin-left: 15%;
}

#about-us-title {
    width: 558px;
    margin-bottom: 25px;
}

#about-us-description {
    width: 549px;
    margin-bottom: 30px;
}

#team-cherry-img {
    width: 441px;
}


.lead-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 150px;

}

.lead-child {
    margin-top: 5px;
    flex: 1;
    align-self: center;
}

.lead-child:first-child {
    margin-left: 15%;
}

.lead-child:last-child {
    margin-left: 7%;
}

#lead-title {
    width: 558px;
    margin-bottom: 25px;

}

#lead-description {
    width: 549px;
    margin-bottom: 30px;
}

.mentoring-container {
    display: inline-flex;
    margin-top: 150px;
}

.mentoring-child {
    margin-left: 26.5%;
}

.mentoring-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.mentoring-name {
    font-family: 'Poppins';
    color:#FFFFFF;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.mentoring-description {
    font-family: 'Poppins';
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}

.section-title {
    color: #FFFFFF;
    font-size: 58px;
    font-family: 'Poppins';
}

.description {
    color: #FFFBFE;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
}

.page-button {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 51px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #4D368F;
    color: #FFFBFE;
    font-family: 'Poppins';
    font-size: 15px;
}

.page-button img {
    margin-right: 10px;
}

.space {
    width: 80%;
    height: 5px;
    border-radius: 25px;
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-top: 200px;

}

.footer-infos {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #322E41;
}

.footer-infos p {
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins';
    margin-top: 30px;
    margin-left: 14.583%;
}

.footer-infos ul {
    display: inline-flex;
    flex-grow: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 80px;
}

.footer-infos li {
    margin-left: 30px;
}