@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.access-bar-container {
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: right;
}

.access-bar-container li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#increase-size, #default-size  {
    margin-right: 25px;
}

#decrease-size {
    margin-right: 80px;
}

#nav-bar {
    width: 100%;
    height: 80px;
    background-color: #322E41;
    font-family: 'Poppins';
    text-align: center;
}

#nav-bar li {
    display: inline-flex;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 80px;
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
}

main {
    background-color: #1C1B1E;
    width: 100%;
}

#home-container {
    display: flex;
    height: 717px;

}

#home-title {
    position: absolute;
    width: 693px;
    height: 209px;
    left: 248px;
    top: 322px;
}

#home-description {
    position: absolute;
    width: 549px;
    height: 98px;
    left: 248px;
    top: 516px;
}

#steam-button {
    left: 248px;
    top: 644px;
}

#knight1 {
    position: absolute;
    width: 333px;
    height: 577px;
    left: 1150px;
    top: 220px;
}


#community {
    display: none;
    height: 717px;
}

#community-title {
    position: absolute;
    width: 558px;
    height: 140px;
    left: 1130px;
    top: 345px;
}

#community-description {
    position: absolute;
    width: 549px;
    height: 98px;
    left: 1130px;
    top: 510px;
}

#discord-button {
    left: 1130px;
    top: 638px;
}

#knight2 {
    position: relative;
    width: 571px;
    height: 671px;
    left: 250px;
    top: 20px;
}

#about-us {
    display: none;
    height: 1997px;
    background-color: #1C1B1E;
}

#about-us-title {
    position: relative;
    width: 558px;
    height: 209px;
    left: 1080px;
    top: 180px;
}

#about-us-description {
    position: relative;
    width: 549px;
    height: 181px;
    left: 1080px;
    top: 190px;
}

#teamcherry-button {
    left: 1080px;
    top: 760px;
}

#team-cherry-img {
    position: absolute;
    width: 441px;
    height: 354px;
    left: 351px;
    top: 330px;
}

#spc1 {
    margin-top: 400px;
}

.space {
    display: flexbox;
    justify-content: center;
    margin-left: 15%;
    width: 70%;
    height: 2px;
    background-color: #FFFBFE;
}

#lead-title {
    position: absolute;
    width: 558px;
    height: 70px;
    left: 351px;
    top: 1150px;

}

#lead-description {
    position: absolute;
    width: 549px;
    height: 136px;
    left: 351px;
    top: 1245px;
}

#lead-button {
    left: 351px;
    top: 1411px;
}

#lead-img {
    position: absolute;
    left: 1080px;
    top: 1200px;
}
#spc2 {
    margin-top: 750px;
}



.section-title {
    color: #FFFFFF;
    font-size: 58px;
    font-family: 'Poppins';
}

.description {
    color: #FFFBFE;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
}

.page-button {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 51px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #4D368F;
    color: #FFFBFE;
    font-family: 'Poppins';
    font-size: 15px;
}

.page-button img {
    margin-right: 10px;
}


.footer-infos {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #322E41;
}

.footer-infos p {
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins';
    margin-top: 30px;
    margin-left: 14.583%;
}

.footer-infos ul {
    display: inline-flex;
    flex-grow: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 80px;
}

.footer-infos li {
    margin-left: 30px;
}